<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="fonts/Berlin Sans FB Demi Bold.ttf" />
    <title>Football</title>
  </head>

  <body>
    <!-- Hero Section with Navbar Imane -->
    <div id="progress">
      <span id="progress-value">&#x1F815;</span>
    </div>
    <div id="menu-mobile" class="menu-mobile">
      <div class="overlay"></div>
      <div class="content">
        <button id="btn-close-menuphone"><i class="bx bx-x"></i></button>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">TOURNAMENT</a></li>
          <li><a href="#">PAGES</a></li>
          <li><a href="#">NEWS</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </div>
    <!-- Hero Section with Navbar Imane -->
    <section id="menu" class="menu-slide">
      <div class="flex">
        <img src="images/logo2.png" alt="" />
        <button id="close"><i class="bx bx-x"></i></button>
      </div>
      <h2>BEST SELLER OF MONTH IDEAS FOR <span>FOOTBALL CHAT</span></h2>
      <div class="contact">
        <h4>CONTACT US</h4>
        <ul>
          <li>+9 333 222 5557</li>
          <li>info@webmail.com</li>
          <li>New Central Park W7 Street ,New York</li>
        </ul>
      </div>
      <div class="subscribe">
        <h4>SUBSCRIBE</h4>
        <div>
          <input type="text" placeholder="Get News & Updates" />
          <button><i class="bx bx-send"></i></button>
          <p>
            Subscribe dolor sitamet, consectetur adiping eli. Duis esollici
            tudin augue.
          </p>
        </div>
        <div>
          <i class="bx bxl-twitter"></i>
          <i class="bx bxl-facebook"></i>
          <i class="bx bxl-linkedin"></i>
          <i class="bx bxl-instagram"></i>
          <i class="bx bxl-pinterest-alt"></i>
          <i class="bx bxl-youtube"></i>
        </div>
      </div>
      <h5>COPYRIGHT © 2024 - BY <span>FOOTBALL CHAT</span></h5>
    </section>
    <div id="particles-js2"></div>
    <section class="hero-section">
      <div class="overlay"></div>
      <div class="content">
        <nav>
          <img src="images/logo2.png" alt="Logo" class="logo" />
          <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">TOURNAMENT</a></li>
            <li><a href="#">PAGES</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
          <div class="right-nav">
            <button id="bottone1"><strong>SIGN IN</strong></button>
            <button id="menu-slide">
              <i class="bx bx-menu-alt-right"></i>
            </button>
            <button id="menu-slide-phone">
              <i class="bx bx-menu-alt-right"></i>
            </button>
          </div>
        </nav>
        <div class="cols">
          <div class="col1">
            <h1>FOOTBALL CHATS</h1>
            <h2>Reserve your place Now</h2>
            <button id="bottone1"><strong>JOIN US</strong></button>
          </div>
        </div>
      </div>
    </section>

    <!---------------------- Section Services -------------------------->

    <section class="services">
      <div class="left">
        <h2>OUR POWERFUL SERVICES DONE <span>ON TIME</span></h2>
        <div class="items">
          <div class="card">
            <i class="bx bx-diamond"></i>
            <h4>Year Experience</h4>
            <p>
              Lorem ipsum dolor sitamet const adipiscng Duis eletum sollicitudin
              is yaugue euismods
            </p>
          </div>
          <div class="card">
            <i class="bx bx-user-voice"></i>
            <h4>Expert Teams</h4>
            <p>
              Lorem ipsum dolor sitamet const adipiscng Duis eletum sollicitudin
              is yaugue euismods
            </p>
          </div>
          <div class="card">
            <i class="bx bx-message-rounded-dots"></i>
            <h4>Best Chat Game</h4>
            <p>
              Lorem ipsum dolor sitamet const adipiscng Duis eletum sollicitudin
              is yaugue euismods
            </p>
          </div>
          <div class="card">
            <i class="bx bx-cog"></i>
            <h4>Worldwide Client</h4>
            <p>
              Lorem ipsum dolor sitamet const adipiscng Duis eletum sollicitudin
              is yaugue euismods
            </p>
          </div>
        </div>
      </div>
      <div>
        <img id="img-service" src="" alt="" />
      </div>
    </section>
    <div id="particles-js"></div>

    <div class="wrapper">
      <h2>Several Reviews of Our App</h2>

      <div class="container scrollx">
        <svg
          viewBox="0 0 900 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.89998 6C9.43671 8.28224 7.41896 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.41896 0 9.43671 1.71776 9.89998 4H445.1C445.563 1.71776 447.581 0 450 0C452.419 0 454.437 1.71776 454.9 4H890.1C890.563 1.71776 892.581 0 895 0C897.761 0 900 2.23858 900 5C900 7.76142 897.761 10 895 10C892.581 10 890.563 8.28224 890.1 6H454.9C454.437 8.28224 452.419 10 450 10C447.581 10 445.563 8.28224 445.1 6H9.89998Z"
            fill="#D9D9D9"
          />
          <mask
            id="mask0_0_1"
            style="mask-type: alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="900"
            height="10"
          >
            <path
              d="M9.89998 6C9.43671 8.28224 7.41896 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.41896 0 9.43671 1.71776 9.89998 4H445.1C445.563 1.71776 447.581 0 450 0C452.419 0 454.437 1.71776 454.9 4H890.1C890.563 1.71776 892.581 0 895 0C897.761 0 900 2.23858 900 5C900 7.76142 897.761 10 895 10C892.581 10 890.563 8.28224 890.1 6H454.9C454.437 8.28224 452.419 10 450 10C447.581 10 445.563 8.28224 445.1 6H9.89998Z"
              fill="#D9D9D9"
            />
          </mask>

          <g mask="url(#mask0_0_1)">
            <rect class="mask" y="-49" height="99" fill="#D6FE5F" />
          </g>
        </svg>

        <section class="sec1 pin">
          <span>From</span>
          <h1>Zinedine Zidane</h1>
          <div class="colu">
            <p>
              "Like finding the perfect pass in a crowded box, this app
              navigates the chaos of organizing soccer matches with grace. It’s
              a game-changer, bringing soccer lovers together with the tap of a
              button. Pure class!"
            </p>
            <img src="./images/image (2).png" />
          </div>
        </section>

        <section class="sec2 pin">
          <span class="anim">From</span>
          <h1 class="anim">Thierry Henry</h1>
          <div class="colu anim">
            <p>
              "Effortless, like one of my runs down the flank. This app
              eliminates the fuss of setting up a game, letting the joy of
              soccer take center stage. It's about connecting, playing, and
              celebrating the sport. Simply brilliant."
            </p>
            <img src="./images/image (1).png" />
          </div>
        </section>
        <section class="sec3 pin">
          <span class="anim">From</span>
          <h1 class="anim">Andrea Pirlo</h1>
          <div class="colu anim">
            <p>
              "With the elegance of a perfectly placed free-kick, this app
              orchestrates soccer gatherings with finesse. It’s the maestro
              behind the scenes, ensuring everyone gets to play. A true
              masterpiece for the love of the game."
            </p>
            <img src="./images/image (3).png" />
          </div>
        </section>
      </div>
    </div>

    <!-- marquee Imane -->
    <div class="marquee">
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam unde
        quia excepturi voluptatum eum. Praesentium iusto provident nisi
        officiis? Nam?</span
      >
    </div>
    <!-- main features Imane -->

    <!-- social proof Imane -->
    <!-- Horizontal trigger-->

    <!-- Gallery Youssef Ababou -->

    <section class="gallery2">
      <h2>Our Gallery</h2>
      <h4>The most enjoyable moments.</h4>
      <div class="container">
        <div class="gallery">
          <div class="img-box"><h3>Victory in teamwork.</h3></div>
          <div class="img-box"><h3>Passion fuels play</h3></div>
          <div class="img-box"><h3>Goals define glory.</h3></div>
          <div class="img-box"><h3>Unity wins matches.</h3></div>
          <div class="img-box"><h3>Heart on the field</h3></div>
          <div class="img-box"><h3>Defend with pride</h3></div>
          <div class="img-box"><h3>Skill shapes destiny.</h3></div>
          <div class="img-box"><h3>Chase the dream.</h3></div>
          <div class="img-box"><h3>Game of inches.</h3></div>
          <div class="img-box"><h3>Determination never quits.</h3></div>
        </div>
      </div>
    </section>
    <!-- CTA Youssef Ababou -->
    <section class="cta">
      <div class="overlay"></div>
      <div class="content">
        <h4>JOIN OUR COMMUNITY</h4>
        <h2>
          More than 5,000 clients trust us. Join them by using our services and
          grow your business
        </h2>
        <button id="bottone1"><strong>Join Us</strong></button>
      </div>
    </section>
    <!-- FAQ Youssef Ababou -->
    <section class="faq">
      <h2>Help Center: Frequently Asked Questions (FAQ)</h2>
      <div class="card">
        <div class="left">
          <div class="overlay">
            <img src="/images/faq-bg.jpg" alt="" />
            <div class="overlay-play">
              <i class="bx bx-play-circle"></i>
            </div>
          </div>
        </div>
        <div class="right">
          <ul id="accordion">
            <li>
              <label for="first">What is Accordion? <span>&#x3e;</span></label>
              <input type="radio" name="accordion" id="first" />
              <div class="content">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                  dolores alias aliquam, sint aut magni maxime provident,
                  similique neque quos corrupti quisquam illum sed et
                  consequatur laborum temporibus eveniet reprehenderit est!
                  Delectus nesciunt architecto veritatis officiis aspernatur
                  culpa maiores cupiditate.
                </p>
              </div>
            </li>
            <li>
              <label for="second">How To Create? <span>&#x3e;</span></label>
              <input type="radio" name="accordion" id="second" />
              <div class="content">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                  dolores alias aliquam, sint aut magni maxime provident,
                  similique neque quos corrupti quisquam illum sed et
                  consequatur laborum temporibus eveniet reprehenderit est!
                  Delectus nesciunt architecto veritatis officiis aspernatur
                  culpa maiores cupiditate.
                </p>
              </div>
            </li>
            <li>
              <label for="third">Where To Use It? <span>&#x3e;</span></label>
              <input type="radio" name="accordion" id="third" />
              <div class="content">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                  dolores alias aliquam, sint aut magni maxime provident,
                  similique neque quos corrupti quisquam illum sed et
                  consequatur laborum temporibus eveniet reprehenderit est!
                  Delectus nesciunt architecto veritatis officiis aspernatur
                  culpa maiores cupiditate.
                </p>
              </div>
            </li>
            <li>
              <label for="fourd">Where To Use It? <span>&#x3e;</span></label>
              <input type="radio" name="accordion" id="fourd" />
              <div class="content">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                  dolores alias aliquam, sint aut magni maxime provident,
                  similique neque quos corrupti quisquam illum sed et
                  consequatur laborum temporibus eveniet reprehenderit est!
                  Delectus nesciunt architecto veritatis officiis aspernatur
                  culpa maiores cupiditate.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <div id="wrapper2" class="wrapper2">
      <section class="intro">
        <div class="line"></div>
      </section>

      <section class="saitama character">
        <div class="block"></div>
        <img src="images/2.png" alt="" /><span class="huge-text"
          >Ababou</span
        >
        <div class="caption">
          Youssef Ababou is a 22-year-old Full Stack Web Developer from
          Marrakech, Morocco. His passion and discipline shine through in his
          work, where he demonstrates expertise in technologies such as
          React.js, Node.js, Laravel, and Express. With a keen eye for design
          and a knack for problem-solving, Youssef is adept at creating seamless
          and responsive web applications. He continuously hones his skills and
          stays updated with the latest trends in web development to deliver
          high-quality solutions that exceed expectations.
        </div>
        <div class="nickname"><span>Nickname</span>Ababou Youssef</div>
        <div class="quote">
          Developers: Crafting tomorrow's innovations through today's code
        </div>
      </section>

      <section class="genos character">
        <div class="block"></div>
        <img src="images/8.png" alt="" /><span class="huge-text"
          >Imane</span
        >
        <div class="caption">
          As a newly minted software developer specializing in the MERN stack (MongoDB, Express, React, Node.js), I've recently transitioned from a rich background in marketing and entrepreneurship into the tech industry. This shift was catalyzed by an immersive 4-month Software Development Bootcamp, where I honed my technical skills, developed a strong project portfolio, and adapted to the fast-paced tech environment.
        </div>
        <div class="nickname"><span>Nickname</span>Imane Saibari</div>
        <div class="quote">
          Developers turn dreams into digital realities.
        </div>
      </section>
      <section class="genos character">
        <div class="block"></div>
        <img src="images/6 (1).png" alt="" /><span class="huge-text"
          >Ilyas
        </span>
        <div class="caption">
          A passionate software engineer ready and able to tackle any challenge presented. 
          I specialise in web development , i do my best to make sure all of my projects are up to my client’s satisfaction.
        </div>
        <div class="nickname"><span>Nickname</span>Ilias RADOUCHE</div>
        <div class="quote">
          Coding is the language developers use to build bridges between
          imagination and functionality
        </div>
      </section>
      <section class="genos character">
        <div class="block"></div>
        <img src="images/7.png" alt="" /><span class="huge-text"
          >Moumen</span
        >
        <div class="caption">
          Passionate Junior Full Stack Web Developer , currently immersed in a MERN stack bootcamp at Ark -X Talent Factory , driven by my passion for web development. I'm fully committed to mastering the MERN stack and excelling in the field of web development.
        </div>
        <div class="nickname"><span>Nickname</span>Mohammed Amine MOUMEN</div>
        <div class="quote">
          I WILL NOT grow if i cannot face superior opponents
        </div>
      </section>
      <section class="genos character">
        <div class="block"></div>
        <img src="images/9.png" alt="" /><span class="huge-text">          Haboul
        </span>
        </span>
        <div class="caption">
          Youssef Haboul is a junior web developer with a passion for full-stack development. He possesses a solid foundation in both front-end and back-end technologies, allowing him to create dynamic and responsive web applications. 
        </div>
        <div class="nickname"><span>Nickname</span>Youssef Haboul
        </div>
        <div class="quote">
          Developers: modern magicians conjuring solutions from cyberspace.




        </section>
    </div>
    <section class="team-mobile">
      <h4>OUR TEAM MEMVERS</h4>
      <h2>ACTIVE TEAM MEMBERS</h2>
      <div class="card">
        
        <img src="/images/mobile1.jpg" alt="">
        <div>
          <h3>YOUSSEF ABABOU</h3>
          <h5>FRONT-END-DEVELOPER</h5>
        </div>
      </div>
      <div class="card">
        
        <img src="/images/mobile2.jpg" alt="">
        <div>
          <h3>IMANE SAIBARI</h3>
          <h5>FULL STACK WEB DEVELOPER</h5>
        </div>
      </div>
      <div class="card">
        
        <img src="/images/mobile3.jpg" alt="">
        <div>
          <h3>ILIAS RADOUCHE</h3>
          <h5>FRONT-END-DEVELOPER</h5>
        </div>
      </div>
      <div class="card">
        
        <img src="/images/mobile4.jpg" alt="">
        <div>
          <h3>Mohammed Amine MOUMEN</h3>
          <h5>FRONT-END-DEVELOPER</h5>
        </div>
      </div>
      <div class="card">
        
        <img src="/images/mobile5.jpg" alt="">
        <div>
          <h3>YOUSSEF HABOUL</h3>
          <h5>BACK-END-DEVELOPER</h5>
        </div>
      </div>
    </section>
    <!-- Contact Youssef Ababou -->
    <section class="contact-section">
      <div class="left">
        <h2>CONTACT US AND FIND YOUR MYKD</h2>
        <p>
          Axcepteur sint occaecat atat non proident, sunt culpa officia deserunt
          mollit anim id est labor umLor emdolor
        </p>
        <h4><i class="bx bxs-contact"></i><span>INFORMATION</span></h4>
        <ul>
          <li>+971 333 222 557</li>
          <li>info@exemple.com</li>
          <li>New Central Park W7 Street, New York</li>
        </ul>
      </div>
      <div class="right">
        <form action="">
          <div class="header-login">
            <input type="text" placeholder="Name *" />
            <input type="email" placeholder="Email" />
          </div>
          <textarea
            name=""
            placeholder="Enter Your message"
            id=""
            cols="30"
            rows="10"
          ></textarea>
          <button id="bottone1"><strong>SEND MESSAGE</strong></button>
        </form>
      </div>
    </section>

    <!-- Footer Youssef Ababou -->
    <footer class="footer">
      <section class="contact">
        <div class="info">
          <i class="bx bx-map"></i>
          <div>
            <h5>Find us</h5>
            <p>1010 Avenue, sw54321, Rabat</p>
          </div>
        </div>
        <div class="info">
          <i class="bx bxs-phone-call"></i>
          <div>
            <h5>Find us</h5>
            <p>1010 Avenue, sw54321, Rabat</p>
          </div>
        </div>
        <div class="info">
          <i class="bx bx-envelope"></i>
          <div>
            <h5>Find us</h5>
            <p>1010 Avenue, sw54321, Rabat</p>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="col-1">
          <h1>One<span>Football</span></h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos nihil
            cupiditate facere quos unde magni similique sed esse harum fugiat!
          </p>
          <h3>Follow us</h3>
          <div>
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-twitter"></i>
            <i class="bx bxl-instagram"></i>
          </div>
        </div>

        <div class="col-2">
          <h2>Useful Links</h2>
          <div class="line"></div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Our services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="col-3">
          <h2>Subscribe</h2>
          <div class="line"></div>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
          <div class="Subscribe">
            <input type="text" placeholder="Email Address" />
            <button>
              <i class="bx bx-send"></i>
            </button>
          </div>
        </div>
      </section>
    </footer>

    <script></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/saitama.js"></script>
    <script src="js/menuSlide.js"></script>
    <script src="js/servicesService.js"></script>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>
    <script src="js/goTop.js"></script>
    <script src="js/menu-mobile.js"></script>
  </body>
</html>