<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />

    <!-- Youssef: cdn Box Icones :  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <title>Football</title>
  </head>
  <body>
    <!-- Header of Login Page Youssef Ababou -->
    <section class="header-login">
      <div class="overlay"></div>
      <div class="content">
        <div>
          <h2>MY ACCOUNT</h2>
          <p><span>MKYD</span>> MY Account</p>
        </div>
      </div>
    </section>
    <!-- Header of Login Page Youssef Ababou -->
    <section class="login">
      <div class="card">
        <div class="">
          <h3>LOGIN</h3>
          <form id="loginForm">
            <label for="">Username or email address <span>*</span></label>
            <input type="email" id="email" placeholder="Enter Your Email Here" required/>
            <label for="">Password <span>*</span></label>
            <input type="password" id="password" placeholder="Enter Your password Here" required/>
            <button id="bottone1" type="submit"><strong>Login</strong></button>
          </form>
          <a href="register.html">Register</a>
        </div>
        <div class="image-right">
          <div class="overlay"></div>
          <img src="images/bg-login.jpg" alt="" />
        </div>
      </div>
    </section>

    <!-- Footer Youssef Ababou -->
    <footer>
      <section class="contact">
        <div class="info">
          <i class="bx bx-map"></i>
          <div>
            <h5>Find us</h5>
            <p>1010 Avenue, sw54321, Rabat</p>
          </div>
        </div>
        <div class="info">
          <i class="bx bxs-phone-call"></i>
          <div>
            <h5>Find us</h5>
            <p>1010 Avenue, sw54321, Rabat</p>
          </div>
        </div>
        <div class="info">
          <i class="bx bx-envelope"></i>
          <div>
            <h5>Find us</h5>
            <p>1010 Avenue, sw54321, Rabat</p>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="col-1">
          <h1>One<span>Football</span></h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos nihil
            cupiditate facere quos unde magni similique sed esse harum fugiat!
          </p>
          <h3>Follow us</h3>
          <div>
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-twitter"></i>
            <i class="bx bxl-instagram"></i>
          </div>
        </div>

        <div class="col-2">
          <h2>Useful Links</h2>
          <div class="line"></div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Our services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="col-3">
          <h2>Subscribe</h2>
          <div class="line"></div>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
          <div class="Subscribe">
            <input type="text" placeholder="Email Address" />
            <button>
              <i class="bx bx-send"></i>
            </button>
          </div>
        </div>
      </section>
    </footer>
    <!-- Hero Section with Navbar Imane -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>